:root {
    --primary-color: #db3742;
    --secondary-color: #777777;
    --background-color: #f1f2f5;
    --text-color: #52555f;
    --link-color: #4c4c4c;
    --hover-color: #555;
    --scrollbar-track: #f1f1f1;
    --scrollbar-thumb: #888;
    --main: #f0f0f0;
    --search-button-color: #a3a6b0;
    --WHITE: #fff;
    --sidebarcolor: #d9d9d9;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

::selection {
    background-color: var(--primary-color);
    color: var(--main);
}

::-webkit-scrollbar {
    width: 6px;
}


::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}


::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--hover-color);
}

::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 100;
    font-size: smaller;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

/* Predefined Styles */

body {
    overflow-x: hidden;
}

i {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

p {
    font-weight: 400;
    padding: 0;
    margin: 0%;
}

a:hover {
    color: var(--primary-color);
}

img {
    width: 100%;
}

h2 {
    color: #60636f;
    font-weight: 400;
}

h4 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

ul,
li ol {
    color: var(--secondary-color);
    text-align: left;
    list-style: none;
    font-size: 14.4px;
    font-weight: 400;
}

@media (max-width:768px) {
    #container-footer {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span(2);
    }

    .footer-img {
        display: block;
        margin: auto;
        width: 200px;

    }


    #footer-links {
        padding-top: 20px;
    }

    #Buttons button:nth-child(1) {
        display: none;
    }

    #Buttons {
        position: absolute;
    }

    #Buttons {
        display: none;
    }

    #Search {
        width: 100%;
    }

    .sub-menu {
        width: 100px;
    }
}

@media (max-width: 992px) {
    #CardContainer {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;

    }

    .footer-img {
        display: block;
        margin: auto;
        width: 200px;

    }

    #container-footer {
        grid-template-columns: repeat(1fr);
    }

    #Buttons button:nth-child(2) {
        display: none;
    }

    .sub-menu {
        width: 200px;
    }
}

@media (max-width:1200px) {


    #footer-links {
        grid-column: span 3;
        width: 100%;
    }
}

@media (min-width: 992px) {

    #copyright-footer {
        display: contents;

    }

    #container-footer {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        color: var(--secondary-color);
        font-weight: 300;
    }

    #CardContainer {
        border-bottom: 2px solid var(--main);

        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media (min-width: 1200px) {
    #container-footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        color: var(--secondary-color);
        font-weight: 300;
    }

    .container {
        max-width: 1170px;
        margin: auto;
    }
}

/* Header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--WHITE);
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#square {
    position: absolute;
    top: -2%;
    z-index: -1;
    transform: rotate(45deg);
    width: 30px;
    background-color: red;
    height: 30px;
    background-color: white;
}

.btn-danger:hover {
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
    background-color: var(--WHITE);
}

#TopBar {
    width: 100%;
    background-color: var(--background-color);
}

#TopBarHolder {
    margin: auto;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
}

#Buttons {
    padding: 0 5px;
}

#Search {
    display: flex;

}

#Search_InputBox {
    border: 0px solid white;
    padding: 10px 0px;
    width: 100%;
}

#Search_Button {
    padding: 10px 12px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--search-button-color);
    font-weight: 300;
    border: 0px solid transparent;
    color: white;
    width: 7rem;
    cursor: pointer;
}

#Buttons {
    display: inline-flex;
    margin: 10px;
    gap: 5px;
}

#Buttons:nth-child(1):hover,
#Button:nth-child(2):hover {
    transition: all 0 ease;
}

/* Navbar Style */

#NavBar1,
#NavBar {
    background-color: var(--WHITE);

}

.nav-link {
    display: flex;
    font-weight: 300;
    color: var(--link-color);
}

.nav-link:hover {
    background-color: var(--WHITE);
    color: var(--primary-color);

}

.nav-link.dropdown-toggle::after {
    display: none;
}


nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

.navbar-toggler,
:hover,
:active,
:focus {
    border: none;
}

nav a {
    height: 100%;
    /* padding: 0 30px; */
    text-decoration: none;
    align-items: center;
    color: black;

}

/* Sidebar Styles */

#sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    font-size: large;
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 999;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: var(--sidebarcolor);
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}



#sidebar li {
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}

#sidebar ul {
    width: 100%;
}

#sidebar ul>*+* {
    border-top: 1px solid #adb5bd;
}

#sidebar button {
    background-color: transparent;
    border: none;
}

#sidebar a {
    color: inherit;
    font-weight: 200;
}

#sidebar a:hover {
    color: var(--primary-color);

}

.sub-menu {
    /* display: contents; */
    display: none;
}

.dropdown-item span:hover {
    color: var(--primary-color);
}

.dropdown-item {

    font-size: medium;
}

.expand-btn i{
    color: inherit
}
.menu {
    font-size: large;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.menu-item li a {
    padding-left: 15px;
}

.menu-item.menu-opened ul {
    display: block !important;
}

.menu-trigger {
    color: var(--secondary-color);
}

.menu-trigger button {
    color: inherit;
}

.menu-item.menu-opened .menu-trigger {
    background: var(--link-color);
}

.menu-item.menu-opened .menu-trigger {
    color: var(--WHITE);
}


.menu-primary-container ul {
    padding: 0;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu {
    border: 0 solid transparent;
    box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.6);
    /* display: flex; */
    /* flex-direction: column; */
    gap: 10px;
    font-size: small;
}

.dropdown-item {
    font-weight: 300;
    font-size: normal;
    gap: 4px;
}

.dropdown-item:hover {
    color: var(--primary-color);
}

#description {
    display: flex;
    justify-content: center;
}

#Desc {
    color: var(--text-color);
    text-align: center;
    margin: 65px;

    font-size: medium;
}

/* Video Player */
.VideoPlayer {
    z-index: 1;
}

#myVideo {
    min-width: 500px;
    max-height: 700px;
    object-fit: cover;
    z-index: -1;
}
#additionalText{
    width: 100%;
    height: 100%;
}

#additionalText h3{
    position: relative;
    top: 40%;
}
#playersubheading{
    position: relative;
    top: 50%;
}
/* Card Section */
#Card {
    width: fit-content;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    height: 100%;
}

#CardImage {
    transform: scale(105%);
    border-radius: 8px;
    width: 100%;
    border-radius: 2px;
}

#CardImage:hover {
    transform: scale(101%);
    border-radius: 8px;
    width: 100%;
    transition: all 0.3s ease;
    border-radius: 2px;
}

#card-title {
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 500;
    padding-top: 17px;
}

#card-desc {
    font-family: 'Rubik', sans-serif;
    color: var(--text-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 18px 0 0 0;
    font-size: 16px;
    font-weight: 200;
    line-height: 26px;
    margin-bottom: 20px;

}

#ButtonCup {
    display: flex;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 4% 0 7% 0;

}

/* Webinar Box */
.webinar-box {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#webinar-list ul {
    padding: 0;
}

.webinar-info {
    padding: 30px 15px 30px 40px;
}

.webinar-title {
    margin: 0 0 14px;
}

.webinar-desc {
    margin: 0 0 15px;
}

/* Partners Section */
#partners-container {
    padding: 100px 0 0 0;
    display: flex;

}


/* News Section */
#news {
    background-color: var(--background-color);
    padding: 50px 0 0 0;
}

.news-header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

#card-title.news-heading {
    font-size: medium;
}



.news-img {
    -webkit-box-shadow: 0 1px 15px -6px rgb(0 0 0 / 58%);
    box-shadow: 0 1px 15px -6px rgb(0 0 0 / 58%);
    display: block;
    overflow: hidden;

    border-radius: 8px;
}

/* FOOTER SECTION */
.footer {
    padding: 4vh 0 2vh 0;
    border-top: solid 3px var(--main);
    border-bottom: solid 3px var(--main);
}



span {
    padding: 0 4px;
}

#container-footer img {
    color: var(--primary-color);
}

#copyright-footer {
    row-gap: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--secondary-color);
    padding: 25px 0px 0px 0px;
    font-size: 12px;
    margin: 0 0 10px;
}



#contact-footer {
    padding: 0 0 10px 0;
    display: flex;
}

#footer-location {
    display: flex;
    line-height: 28px;
}

#footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#footer-links img {
    background-color: var(--primary-color);
    width: fit-content;
    padding: 3px;
    border-radius: 4px;

}

span img {
    width: min-content;
}


#bottom-links ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: lighter;
    padding: 0px 5px
}

#bottom-link {
    text-decoration: none;
    color: var(--secondary-color);
}

#bottom-link:hover {
    color: var(--primary-color);
}